

  .centeri {
    position: absolute;
    top: 90dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
  }
  
 
  
  .RadioGroup {
    margin-bottom: 10dvh;
    margin-top: 5dvh;
    align-items: center;
  }
  
  .Buttoni {
    left: 20dvw;
  }
  
  .teksti{
    margin-bottom: 50dvh;
    margin-top: 5dvh;
    
  }
  .tekstit{
    left: 50dvw;
  }
    
.Pois{
  position: absolute;
  left: -25dvw;
 top: 5dvh;
  transform: translate(-50%, -50%);
  background-color: black;

  }

  .rivi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0dvw;
    right: 0dvw;
    background-color: rgba(0, 118, 151, 0.589);
    width:100%;
    height: 100px;
    }