

  .centeri {
    position: absolute;
    top: 90dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
  }
  
 
  
  .RadioGroup {
    margin-bottom: 10dvh;
    margin-top: 5dvh;
    align-items: center;
  }
  
  .Buttoni {
    left: 20dvw;
  }
  
  .teksti{
    margin-bottom: 50dvh;
    margin-top: 5dvh;
    
  }
  .tekstit{
    left: 50dvw;
  }
    
.Pois{
margin-bottom: 5dvh;
  }