@media screen  and (min-width: 950px) {
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url('sigma.jpg');
    background-size: 55% 100vh;
    background-repeat: no-repeat;
    padding-left: 55%;
}
}

.kirjaudukentat {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  /*position: relative;*/
  /*left: 125%;*/
}

.vati{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  /*position: relative;*/
  /*left: 125%;*/
}

.rekisteroidykentat {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  /*position: relative;*/
  /*left: 124%;*/
}

.logreg {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  /*position: relative;*/
  /*left: 125%;*/
}

.logregbuttons {
  margin-top: 30px;
  margin-bottom: 70px;
}

@media only screen and (max-width: 949px){
  .kirjaudukentat, .logreg, .rekisteroidykentat, .vati {
    display: flex;
    flex-direction: column, row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    width: 100vw;
    position: relative;
    left: auto;
  }
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: right;
  align-items: stretch;
  justify-content: right;
};