@media screen  and (min-width: 850px) {
  body {
  background-image: url('sigma.jpg');
  background-size: 55% 100vh;
  background-repeat: no-repeat;
  background-position: left center;
}
}
.kirjaudukentat {
  width: 30%;
  position: relative;
  left: 60%;
}

.vati{
  margin-top: 40px;
  width: 30%;
  position: relative;
  left: 60%;
}

.rekisteroidykentat {
  width: 30%;
  position: relative;
  left: 60%;
}

.logreg {
  width: 13.4%;
  position: relative;
  left: 60%;
}

.logregbuttons {
  margin-top: 30px;
  margin-bottom: 70px;
};