.addSearch {
margin-top: 15dvh;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-content: center;
align-items: center;
justify-content: center;
position: absolute;
left: 0dvw;
right: 0dvw;
background-color: rgb(218, 217, 217);
width:100%;
height: 100px;
}

.personProb {
padding-top: 35dvh;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-content: center;
align-items: center;
justify-content: center;
position: absolute;
left: 0dvw;
right: 0dvw;
}

.personProb2 {
    padding-top: 40dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0dvw;
    right: 0dvw;
    };